.clock{
    background: #B9D2E6;
    border: 2px solid #46A7E8;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    margin: 30px auto;
    font-family: sans-serif;
    h2{
        margin: auto;
        color: #ffffff;
    }
}